<div class="index-container">
  <div class="img-beer">
    <img src="images/beer.png" alt="">
  </div>
  <div class="btn-beers">

    {{!-- it's important to make sure the links are the same as in the app.js --}}
    <a href="/beers">
      Check the beers! </a>

  </div>
  <div class="btn-beers">

    <a href="/random-beer">
      Check a Random Beer!</a>

  </div>
</div>