{{!-- here, we want to display the image, name, tagline and description --}}
{{!-- we refer to it as 'beer' because we defined that in the random-beer route in app.js --}}
{{!-- It is beer and not this because we're not looping over it --}}

<div>
  <img src="{{beer.image_url}}" alt="beer">
  {{beer.name}}
  {{beer.tagline}}
  {{beer.description}}
</div>